<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Wifi Expert -- We will fix your wifi problems ! </h1>
            			<div class="col-md-8 col-md-offset-2">
                			<p>Our app is available on Android right now ! Download now to get started!</p>
                			<div class="badges">
                    			<a class="badge-link" href="https://play.google.com/store/apps/details?id=com.inceptai.wifiexpert"><img src="{{ site.baseurl }}/img/google-play-badge.svg" alt="" width="300"></a>
                    			<!--<a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                        		<a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>-->
                			</div>
                		</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup galaxy_s3 portrait black">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <!--<img src="/img/demo-screen-1.jpg" class="img-responsive" alt=""> -->
                                <img src="{{ site.baseurl }}/img/wifiexpert.png" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
